
body {
    background-color: #f5f5f5;
    color: #2A2A2A;
}

/* HEADER */
header {
    background-color: #5F141A;
    color: #fff;
    padding: 20px 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
}

header h2 {
    font-size: 20px;
}

header a {
    color: #fff;
    text-decoration: none;
    margin-left: 10px;
}

header span {
    font-size: 16px;
}

.seperate{
    display: flex;
    gap: 30px;
}

/* ====== MAIN CONTAINER ====== */
main {
    max-width: 1200px;
    margin: 30px auto;
    padding: 70px 20px;
}

/* ====== FORM ADD ROOM ====== */
form {
    background-color: #FAFAFA;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 2px 12px rgba(0,0,0,0.1);
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form input{
    border-image-width: 100%;
}

form h3 {
    margin-bottom: 16px;
    font-size: 22px;
    color: #2A2A2A;
}

form input, form select, form textarea {
    width: 100%;
    padding: 10px 12px;
    margin-bottom: 15px;
    border: 1px solid #d1d5db;
    border-radius: 6px;
    font-size: 16px;
    background-color: #fff;
}

.room-status{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.checkbox{
    display: flex;
    align-items: center;
    gap: 10px;
}

.checkbox input{
    margin: 0;
}

form button{
    min-width: 400px;
}

/* ====== TABLE ====== */
table {
    width: 100%;
    border-collapse: collapse;
    background-color: #FAFAFA;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 2px 12px rgba(0,0,0,0.1);
}

table th {
    background-color: #5F141A;
    color: #fff;
    font-weight: 600;
    padding: 12px 15px;
}

table td {
    padding: 12px 15px;
}

table tr:nth-child(even) {
    background-color: #f0f0f0;
}

table tr:hover {
    background-color: #f9f9f9;
}

table img {
    border-radius: 6px;
    max-width: 100px;
    height: auto;
}


/* ====== ACTION LINKS ====== */
table a {
    color: #5F141A; 
    text-decoration: none;
    margin-right: 8px;
}

table a:hover {
    text-decoration: underline;
}

/* ====== RESPONSIVE ====== */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    form input[type="text"],
    form input[type="number"],
    form input[type="file"],
    form select,
    form textarea {
        font-size: 14px;
    }

    table th, table td {
        font-size: 14px;
        padding: 8px 10px;
    }
}
