/* SIGN IN PAGE */
.container {
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("images/hotel-bg.jpg") center/cover no-repeat;
}

.signin-box {
    width: 350px;
    background: #FAFAFA;
    padding: 35px;
    border-radius: 12px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.signin-box h2 {
    margin-bottom: 20px;
    font-size: 26px;
    color: #2c3e50;
}

label {
    display: block;
    margin-top: 15px;
    text-align: left;
    font-size: 14px;
    color: #444;
}

input {
    width: 100%;
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #bbb;
    margin-top: 5px;
    outline: none;
    font-size: 14px;
    transition: 0.2s;
}

input:focus {
    border-color: #c0392b;
}

/* SIGN-IN BUTTON */
.signin-btn {
    width: 100%;
    padding: 12px;
    margin-top: 25px;
    font-size: 16px;
    border-radius: 30px;
    background-color: #5F141A;
    border: 1px solid #5F141A;
    color: white;
    transition: background-color 0.5s ease-in, color 0.5s ease, border 0.5s ease;
}

.signin-btn:hover {
    background-color: transparent;
    color: #8C1F28;
    border: 1px solid #8C1F28;
}

/* SIGNUP LINK */
.signup-text {
    margin-top: 15px;
    font-size: 14px;
}

.signup-text a {
    color: #c0392b;
    text-decoration: none;
}

.signup-text a:hover {
    text-decoration: underline;
}

/* ACCOUNT RADIO BUTTONS */
.role-btn-container{
    display: flex;
    gap: 12px; 
    margin: 10px 0 20px;
}

.role-btn{
    width: 100%;
}

/* REMEMBER ME CHECKBOX */
.remember-checkbox{
    padding-top: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 12px;
}

.remember-checkbox input{
    width: auto;
    height: auto;
    margin: 0;
}

.remember-checkbox label{
    margin: 0;
    flex-shrink: 0;
}
