 /* NAVBAR  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

header {
    background-color: #FAFAFA;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 50;
}

.navbar-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
}

.navbar-logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo-text {
    color: #515151;
}

.navbar-menu {
    display: flex;
    gap: 32px;
    align-items: center;
}

.nav-link {
    text-decoration: none;
    color: #515151;
    font-weight: 500;
    transition: color 0.5s ease;
}

.nav-link:hover {
    color: #8C1F28;
}

.navbar-buttons {
    display: flex;
    gap: 12px;
    align-items: center;
}

.btn {
    background: none;
    border: 1px solid #515151;
    cursor: pointer;
    border-radius: 30px;
    padding: 10px 20px;
}

.btn-white {
    background-color: #E5E5E5;
    transition: background-color 0.7s ease;
    transition: border 0.5s ease;
}

.btn-white:hover {
    background-color: #FAFAFA;
    border: 1px solid #E5E5E5;
}

.btn-red {
    background-color: #5F141A;
    border: 1px solid #5F141A;
    color: white;
    transition:
        background-color 0.5s ease-in,
        color 0.5s ease,
        border 0.5s ease;
}

.btn-red:hover {
    background-color: transparent;
    color: #8C1F28;
    border: 1px solid #8C1F28;
}


.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 6px;
}

.hamburger span {
    width: 24px;
    height: 3px;
    background-color: var(--dark-gray);
    transition: all 0.3s ease;
}



 /* SIGN IN BOX  */

.container {
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("images/hotel-bg.jpg") center/cover no-repeat; 
}

.signin-box {
    width: 350px;
    background: #FAFAFA;
    padding: 35px;
    border-radius: 12px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.2);
    text-align: center;
}

.signin-box h2 {
    margin-bottom: 20px;
    font-size: 26px;
    color: #2c3e50;
}

label {
    display: block;
    margin-top: 15px;
    text-align: left;
    font-size: 14px;
    color: #444;
}

input {
    width: 100%;
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #bbb;
    margin-top: 5px;
    outline: none;
    font-size: 14px;
    transition: 0.2s;
}

input:focus {
    border-color: #c0392b;
}

.signin-btn {
    width: 100%;
    padding: 12px;
    margin-top: 25px;
    font-size: 16px;
    border-radius: 30px;
    background-color: #5F141A;
    border: 1px solid #5F141A;
    color: white;
    transition:
    background-color 0.5s ease-in,
    color 0.5s ease,
    border 0.5s ease;
}

.signin-btn:hover {
    background-color: transparent;
    color: #8C1F28;
    border: 1px solid #8C1F28;
}

.signup-text {
    margin-top: 15px;
    font-size: 14px;
}

.signup-text a {
    color: #c0392b;
    text-decoration: none;
}
.signup-text a:hover {
    text-decoration: underline;
}
